# Import the packeges

In [33]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

# Loading the dataset

In [18]:
job_data=pd.read_csv('C:/Python/Day-24/Dataset/general_data.csv')
job_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

# Checking for Null Values

In [19]:
job_data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [23]:
job_data['NumCompaniesWorked'].mean()

2.696145124716553

In [24]:
new_NumCompaniesWorked_var=np.where(job_data['NumCompaniesWorked'].isnull(),3,job_data['NumCompaniesWorked']) 
#Here we replaced wherever is null value
#we repalced as 3 using where function

In [28]:
['NumCompaniesWorked']=new_NumCompaniesWorked_var

In [29]:
job_data['TotalWorkingYears'].mean()

11.279936378095888

In [30]:
new_TotalWorkingYears_var=np.where(job_data['TotalWorkingYears'].isnull(),11,job_data['TotalWorkingYears']) 
#Here we replaced wherever is null value
#we repalced as 11 using where function

In [31]:
job_data['TotalWorkingYears']=new_TotalWorkingYears_var

In [32]:
job_data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

# Dropping Unnecessary data

In [139]:
job_data.drop(['BusinessTravel','Department','EducationField','JobRole','MaritalStatus','Over18'],axis=1,inplace=True)
job_data.head()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,6,2,1,1,0,1,131160,1.0,11,8,0,1.0,6,1,0,0
1,31,1,10,1,1,2,0,1,41890,0.0,23,8,1,6.0,3,5,1,4
2,32,0,17,4,1,3,1,4,193280,1.0,15,8,3,5.0,2,5,0,3
3,38,0,2,5,1,4,1,3,83210,3.0,11,8,3,13.0,5,8,7,5
4,32,0,10,1,1,5,1,1,23420,4.0,12,8,2,9.0,2,6,0,4

### Now we are going to use Tree Model so we are using Random Forest here

In [140]:
from sklearn.ensemble import RandomForestClassifier
job_data.columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeID', 'Gender', 'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

# Definfing Attributes of random forest

In [142]:
rfc_model= RandomForestClassifier(n_estimators=1000, max_features=2, oob_score=True)
features = ['Age','DistanceFromHome','Education','EmployeeCount','EmployeeID','Gender','JobLevel','MonthlyIncome'
            ,'NumCompaniesWorked','PercentSalaryHike','StandardHours','StockOptionLevel','TotalWorkingYears',
            'TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']

In [145]:
rfc_model.fit( X =job_data[features], y=job_data['Attrition'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

# OOB Accuracy

In [147]:
print('Accuracy of 17 IDV and 1 DV ')
print('OOB Accuracy :- ',rfc_model.oob_score_)

Accuracy of 17 IDV and 1 DV
OOB Accuracy :-  0.999092970521542

 # Impure Variable

In [149]:
for features,imp in zip (features,rfc_model.feature_importances_) :
    print(features,imp)

Age 0.11478701823041089
DistanceFromHome 0.08554247653025031
Education 0.04736151034606778
EmployeeCount 0.0
EmployeeID 0.05183525098487981
Gender 0.02057090032917995
JobLevel 0.04578674286418814
MonthlyIncome 0.12029490192943491
NumCompaniesWorked 0.06301628294132039
PercentSalaryHike 0.07723311109959549
StandardHours 0.0
StockOptionLevel 0.040308128201212476
TotalWorkingYears 0.09801104241215104
TrainingTimesLastYear 0.05282210173340146
YearsAtCompany 0.07598977846025458
YearsSinceLastPromotion 0.04786621190039566
YearsWithCurrManager 0.05857454203725708

# Decision Tree

In [181]:
predictors = pd.DataFrame([job_data['DistanceFromHome'],job_data['TotalWorkingYears'],job_data['MonthlyIncome']
                           ,job_data['Age'],job_data['PercentSalaryHike'],job_data['YearsAtCompany'],job_data['YearsWithCurrManager'],job_data['TrainingTimesLastYear']]).T
tree_model = tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X=predictors, y=job_data['Attrition'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

# Graphviz

In [186]:
with open('Attriation_Analysis.dot','w') as f :
    f = tree.export_graphviz(tree_model, feature_names=['DistanceFromHome','TotalWorkingYears','MonthlyIncome','Age','PercentSalaryHike'
                                                        ,'YearsAtCompany','YearsWithCurrManager','TrainingTimesLastYear'], out_file=f);

# Accuracy

In [187]:
Accuracy = tree_model.score(X=predictors, y=job_data['Attrition'])
Accuracy

0.9027210884353741

## This model is 90.2 % is accurate

In [188]:
from sklearn.tree import export_text
feature=['DistanceFromHome','TotalWorkingYears','MonthlyIncome','Age','PercentSalaryHike'
        ,'YearsAtCompany','YearsWithCurrManager','TrainingTimesLastYear']
r=export_text(tree_model,feature_names=feature)
print(r)

|--- TotalWorkingYears <= 1.50
|   |--- Age <= 33.50
|   |   |--- MonthlyIncome <= 112610.00
|   |   |   |--- MonthlyIncome <= 23140.00
|   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |--- TrainingTimesLastYear <= 3.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- TrainingTimesLastYear >  3.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |--- class: 0
|   |   |   |--- MonthlyIncome >  23140.00
|   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |--- Age <= 18.50
|   |   |   |   |   |   |--- DistanceFromHome <= 4.00
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 20.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- PercentSalaryHike >  20.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- DistanceFromHome >  4.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  18.50
|   |   |   |   |   |   |--- MonthlyIncome <= 106255.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  106255.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  23.50
|   |   |   |   |   |--- MonthlyIncome <= 32530.00
|   |   |   |   |   |   |--- PercentSalaryHike <= 23.50
|   |   |   |   |   |   |   |--- TotalWorkingYears <= 0.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- TotalWorkingYears >  0.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- PercentSalaryHike >  23.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  32530.00
|   |   |   |   |   |   |--- DistanceFromHome <= 11.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 63965.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  63965.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- DistanceFromHome >  11.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 64960.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  64960.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |--- MonthlyIncome >  112610.00
|   |   |   |--- DistanceFromHome <= 5.00
|   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  5.00
|   |   |   |   |--- MonthlyIncome <= 161855.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- MonthlyIncome >  161855.00
|   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- MonthlyIncome <= 25425.00
|   |   |   |--- Age <= 34.50
|   |   |   |   |--- class: 0
|   |   |   |--- Age >  34.50
|   |   |   |   |--- class: 1
|   |   |--- MonthlyIncome >  25425.00
|   |   |   |--- class: 0
|--- TotalWorkingYears >  1.50
|   |--- Age <= 33.50
|   |   |--- YearsAtCompany <= 2.50
|   |   |   |--- Age <= 27.50
|   |   |   |   |--- TrainingTimesLastYear <= 5.50
|   |   |   |   |   |--- TotalWorkingYears <= 3.50
|   |   |   |   |   |   |--- Age <= 21.50
|   |   |   |   |   |   |   |--- DistanceFromHome <= 19.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- DistanceFromHome >  19.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  21.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- TotalWorkingYears >  3.50
|   |   |   |   |   |   |--- Age <= 24.50
|   |   |   |   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  23.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  24.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 26765.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  26765.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- TrainingTimesLastYear >  5.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- Age >  27.50
|   |   |   |   |--- YearsWithCurrManager <= 1.50
|   |   |   |   |   |--- PercentSalaryHike <= 20.50
|   |   |   |   |   |   |--- Age <= 31.50
|   |   |   |   |   |   |   |--- DistanceFromHome <= 22.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- DistanceFromHome >  22.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  31.50
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  20.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- YearsWithCurrManager >  1.50
|   |   |   |   |   |--- PercentSalaryHike <= 21.50
|   |   |   |   |   |   |--- MonthlyIncome <= 185010.00
|   |   |   |   |   |   |   |--- MonthlyIncome <= 53420.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  53420.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- MonthlyIncome >  185010.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- PercentSalaryHike >  21.50
|   |   |   |   |   |   |--- DistanceFromHome <= 4.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- DistanceFromHome >  4.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |--- YearsAtCompany >  2.50
|   |   |   |--- DistanceFromHome <= 26.50
|   |   |   |   |--- MonthlyIncome <= 48155.00
|   |   |   |   |   |--- PercentSalaryHike <= 18.50
|   |   |   |   |   |   |--- TotalWorkingYears <= 9.50
|   |   |   |   |   |   |   |--- YearsWithCurrManager <= 1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- YearsWithCurrManager >  1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- TotalWorkingYears >  9.50
|   |   |   |   |   |   |   |--- Age <= 28.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- Age >  28.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- PercentSalaryHike >  18.50
|   |   |   |   |   |   |--- MonthlyIncome <= 20340.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  20340.00
|   |   |   |   |   |   |   |--- TotalWorkingYears <= 6.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- TotalWorkingYears >  6.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- MonthlyIncome >  48155.00
|   |   |   |   |   |--- YearsAtCompany <= 3.50
|   |   |   |   |   |   |--- DistanceFromHome <= 7.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 48355.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  48355.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- DistanceFromHome >  7.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 115880.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  115880.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- YearsAtCompany >  3.50
|   |   |   |   |   |   |--- MonthlyIncome <= 49880.00
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 17.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- PercentSalaryHike >  17.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- MonthlyIncome >  49880.00
|   |   |   |   |   |   |   |--- TotalWorkingYears <= 5.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- TotalWorkingYears >  5.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  26.50
|   |   |   |   |--- TrainingTimesLastYear <= 1.50
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- TrainingTimesLastYear >  1.50
|   |   |   |   |   |--- MonthlyIncome <= 30330.00
|   |   |   |   |   |   |--- YearsAtCompany <= 8.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- YearsAtCompany >  8.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  30330.00
|   |   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- TotalWorkingYears <= 39.00
|   |   |   |--- YearsWithCurrManager <= 0.50
|   |   |   |   |--- TotalWorkingYears <= 3.50
|   |   |   |   |   |--- MonthlyIncome <= 88375.00
|   |   |   |   |   |   |--- Age <= 49.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- Age >  49.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- MonthlyIncome >  88375.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- TotalWorkingYears >  3.50
|   |   |   |   |   |--- MonthlyIncome <= 34145.00
|   |   |   |   |   |   |--- YearsAtCompany <= 11.50
|   |   |   |   |   |   |   |--- Age <= 55.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  55.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- YearsAtCompany >  11.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- MonthlyIncome >  34145.00
|   |   |   |   |   |   |--- MonthlyIncome <= 37540.00
|   |   |   |   |   |   |   |--- TrainingTimesLastYear <= 2.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- TrainingTimesLastYear >  2.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  37540.00
|   |   |   |   |   |   |   |--- TrainingTimesLastYear <= 1.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- TrainingTimesLastYear >  1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- YearsWithCurrManager >  0.50
|   |   |   |   |--- MonthlyIncome <= 10300.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- MonthlyIncome >  10300.00
|   |   |   |   |   |--- DistanceFromHome <= 24.50
|   |   |   |   |   |   |--- DistanceFromHome <= 3.50
|   |   |   |   |   |   |   |--- YearsAtCompany <= 1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- YearsAtCompany >  1.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- DistanceFromHome >  3.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 63480.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  63480.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- DistanceFromHome >  24.50
|   |   |   |   |   |   |--- class: 0
|   |   |--- TotalWorkingYears >  39.00
|   |   |   |--- class: 1