# Import the packages

In [1]:
import pandas as pd

# Loading Dataset

In [4]:
bank_data=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [5]:
bank_data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

# Drop the unnecessary data

In [11]:
bank_data1=bank_data.drop(['ID','ZIP Code'],axis=1)
print(bank_data1)

      Age  Experience  Income  Family  CCAvg  Education  Mortgage  \
0      25           1      49       4    1.6          1         0
1      45          19      34       3    1.5          1         0
2      39          15      11       1    1.0          1         0
3      35           9     100       1    2.7          2         0
4      35           8      45       4    1.0          2         0
...   ...         ...     ...     ...    ...        ...       ...
4995   29           3      40       1    1.9          3         0
4996   30           4      15       4    0.4          1        85
4997   63          39      24       2    0.3          3         0
4998   65          40      49       3    0.5          2         0
4999   28           4      83       3    0.8          1         0

      Personal Loan  Securities Account  CD Account  Online  CreditCard
0                 0                   1           0       0           0
1                 0                   1           0       0           0
2                 0                   0           0       0           0
3                 0                   0           0       0           0
4                 0                   0           0       0           1
...             ...                 ...         ...     ...         ...
4995              0                   0           0       1           0
4996              0                   0           0       1           0
4997              0                   0           0       0           0
4998              0                   0           0       1           0
4999              0                   0           0       1           1

[5000 rows x 12 columns]

# Declear Independent & Dependent variable

In [12]:
bank_data1.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [14]:
y=bank_data1['Personal Loan']
x=bank_data1[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account',
       'Online', 'CreditCard']]

# Import the function for Logical Regression

In [15]:
import statsmodels.api as sm

In [17]:
x1=sm.add_constant(x) # Here we are adding constant for equation

In [18]:
logistic=sm.Logit(y,x1) # Addind the constant for equation

In [21]:
result=logistic.fit()  #here we developed the model

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [24]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Wed, 12 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        00:22:05   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

# Result of model
## Important factors for giving loan are
1. Income <br>
2. Family <br>
3. Education <br>
4. CD(Certificate of deposite) Account<br>
5. Online(Net Banking) <br>
6. Credit Card(a credit card issued by Universal Bank)<br>
## Moderate Factores for giving loan are <br>
1. CCAvg (Avg. spending on credit cards per month ($000))<br>
2. Securities Account (A securities account with the bank)