 # Q1

In [16]:
def comapany():
  i=input()
  x=i.index('@')
  print(i[x+1:len(i)-4],end=' ')
  
comapany()

sahilphalle@gmail.com
gmail

# Q2

In [ ]:
def sorting():
  items=[x for x in input("enter data to sort").split(',')]
  items.sort()
  print ("Sorted data are ",','.join(items))
sorting()

enter data to sortwithout,hello,bag,world

Sorted data are  bag,hello,without,world

# Q3

In [15]:
import sys
sampleSet = {"apple", "banana", "cherry"}
print(sampleSet) 
sampleSet= {"apple", "banana", "cherry"}
for x in sampleSet:
    print(x)
str1="sampleSet=" + str(sampleSet) +"\n"
str2="print()"+str(print) +"\n"
str3="sampleSet="+str(sampleSet)+"\n"
#str4="for x in sampleSet:"+str(for)
# str5="print(x)"+str(   print(x))

original_stdout = sys.stdout
f=open("Set.ipynb",'w')
f.write(str1)
f.write(str2)
f.write(str3)
# f.write(str4)
# f.write(str5)

f.close()
print("Data saved to file successfully.")
print(f.closed)

{'banana', 'apple', 'cherry'}
banana
apple
cherry
Data saved to file successfully.
True

# Q4

In [1]:
def missNo():
    num=list(map(int,input().split()))
    #print(num)
    
    for i in range(1,len(num)+1):
        if (i in num):
            pass
        else:
            print(i)             
missNo()

1 2 4 5 6 8
3

# Q5

In [7]:
def list1():
    num=list(map(int,input().split()))
    a=set(num)
    print(*a,sep=" ")
list1()

1 2 2 3 4 5 6 6 7 7 8 9 10 10
1 2 3 4 5 6 7 8 9 10